<!DOCTYPE html>
<html>
  <head>
    <title>CrudCustomer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  </head>

  <body>

    
    <div class="container">
    <br>
    <div class="row">
    <div class="col-xs-12 col-md-8"></div>
        <%if user_signed_in? %>
          <div class="col-xs-3 col-md-2"><%= link_to 'FAZER AUDITORIA', customers_history_path %> </div>
          <div class="col-xs-3 col-md-2"><%= link_to 'SAIR', destroy_user_session_path, method: :delete %> </div>

         <% end %>
    </div>
    
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    
    <%= yield %>
    
    <div>
    <p class="navbar-text float-right">

  </body>
</html>
